$clr-font: #EEEEEE;
$clr-background: #303841;
$clr-accent: #F6C90E;

$ff-primary: 'Mulish', sans-serif;
$ff-secondary: 'Lora', serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $ff-primary;
  background-color: #303841;
  color: $clr-font;
}

h2 {
  font-size: 4em;
  font-family: $ff-secondary;
}

.heroContainer {
  margin: 0 auto;
  height: 100vh;
  width: 85%;
}

.navLinkContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  padding-bottom: 0.30em;
  
  .navLink {
    margin: 12px 0px 0px 40px;
    text-align: right;

    a {
      color: $clr-font;
      text-decoration: none;

    }
  }
}

.contentContainer {
  margin: 0 auto;
  height: 100vh;
  width: 85%;

  .contentHeader {
    border-bottom: 1px solid $clr-accent;
    padding: 1em 0;
    width: 100%;
    font-family: $ff-secondary;
  }
}

.greetingContainer {
  p {
    line-height: 1.5;
  }
}

.nameContainer {
  font-family: 'Lora', serif;
  border-bottom: 1px solid $clr-accent;
  display: flex;
  height: 33%;
  align-items: flex-end;
  margin-bottom: 0.4em;
  padding-bottom: 0.75em;
}

@media (min-width: 1024px) {
  .heroContainer {
    max-width: 1024px;
  }

  .contentContainer {
    max-width: 1024px;
  }
}

@media (min-width: 660px) {
  .navLinkContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    
    .navLink {
      display: block;
    }
  }
}