@tailwind base;
@layer base {
  @font-face {
    font-family: 'Neue Montreal Thin';
    font-weight: 100;
    src: url('../../public/fonts/PPNeueMontreal-Thin.otf');
  }
  @font-face {
    font-family: 'Neue Montreal Medium';
    font-weight: 500;
    src: url('../../public/fonts/PPNeueMontreal-Medium.otf');
  }

  body {
    @apply dark:text-zinc-200 dark:bg-zinc-900 text-zinc-900 bg-zinc-200
  }
}

header {
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

@tailwind components;
@tailwind utilities;

